---
import "../index.css";
import { css } from "../../styled-system/css";

interface MenuItem {
  label: string;
  link: string;
  submenu?: MenuItem[]; // Add submenu property
}

interface MenuBar {
  items: MenuItem[];
}

const myMenuBar: MenuBar = {
  items: [
    {
      label: "Home",
      link: "#home",
    },
    {
      label: "News",
      link: "#news",
      submenu: [
        { label: "Breaking", link: "#breaking" },
        { label: "Local", link: "#local" },
      ],
    },
    {
      label: "Contact",
      link: "#contact",
    },
    {
      label: "About",
      link: "#about",
      submenu: [
        { label: "Team", link: "#team" },
        { label: "History", link: "#history" },
      ],
    },
  ],
};

const menuItemHoverStyle = {
  backgroundColor: "#ddd",
  color: "red",
};

const menuItemStyle = {
  float: "left",
  display: "block",
  color: "#cd2f2f",
  textAlign: "center",
  padding: "14px 16px",
  textDecoration: "none",
  fontSize: "17px",
  _hover: menuItemHoverStyle,
};

const submenuItemHoverStyle = {
    display:"block"
};

const submenuItemStyle = {
  position:"absolute",
  float: "left",
  display: "none",
  color: "#cd2f2f",
  textAlign: "center",
  padding: "14px 16px",
  textDecoration: "none",
  fontSize: "17px",
  _hover: submenuItemHoverStyle,
   
};

const menuItemStyleWithSub = {
    float: "none",
    display: "listItem",
    position: relative;
};


---
<ul >
{
  myMenuBar.items.map((item) => (
    <li>
      <a href={item.link} class={css(menuItemStyle)}>
        {item.label}
      </a>          
      {item.submenu &&
       (
        <ul class={css(submenuItemStyle)}>
        {item.submenu?.map((subItem)=>
         (   
            <li>
            <a href={subItem.link}>{subItem.label}</a>      
           </li>
         ))}
         </ul> 

        )
      }
        
     </li>
  ))
  }
  </ul>