---
import { css } from "../../../styled-system/css";

interface Address {
  doRoad: string;
  doJibun: string;
}

interface Phone {
  phoneNumber: string;
}

interface LocationInfo {
  address: Address;
  phone: Phone;
}

const addressInfo: LocationInfo = {
  address: {
    doRoad: "서울 종로구 인사동 10길 11-3",
    doJibun: "서울 종로구 관훈동 30-11",
  },
  phone: {
    phoneNumber: "(02) 733-9240",
  },
};


const defaultStyle = {
    border: "1px solid #ddd",
    padding: "10px",
    borderRadius: "8px",
    margin: "10px",
};

// 주소 스타일
const addressStyle = {
    fontWeight: "bold",
    color: "#337ab7", // Deep Blue
};

// 전화번호 스타일
const phoneStyle = {
    color: "#5cb85c", // Green
    marginTop: "5px",
};
---

<div class={css(defaultStyle )}>
  <p>주소</p>
  <div class={css(addressStyle)}>
      <p>{addressInfo.address.doRoad}</p>
      <p>{addressInfo.address.doJibun}</p>
  </div>
  <div class={css(phoneStyle)}>
      <p>{addressInfo.phone.phoneNumber}</p>
  </div>
</div>