---
import {createData} from "../../../lib/db/test"
import { PrismaClient } from '@prisma/client';

interface ArticleInfo {
    creationDate: string;
    author: string;
    views: number;
    content: string;
    title:string,
  }


  
const {id} = Astro.props;

const prisma = new PrismaClient();
console.log(id)

const articleInfo:ArticleInfo = await prisma.article.findUnique({
    where: { id: +id }})

console.log(articleInfo.creationDate)

await prisma.article.update(
    {
        where:{id:+id},
        data:{
            views:articleInfo.views+1
        }

    }
)

// const articleInfo: ArticleInfo = {
//   creationDate: '2023.05.16',
//   author: '관리자',
//   views: 267,
//   title:'만두란 무엇인가?',
//   content:sampleContent
// };

// const prisma = new PrismaClient();
// const createdData = await prisma.article.create({
//       data: {
//         creationDate: articleInfo.creationDate,
//         author: articleInfo.author,
//         views: articleInfo.views,
//         content: articleInfo.content,
//         title: articleInfo.title,
//       },
//     });

// await createData(articleInfo);
// console.log(createdData)
---

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 20px;
    }

    .article-container {
        border: 1px solid #ddd;
        padding: 20px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
    }

    h2{
        font-size:20px;

    }

</style>
</head>
<body>

<div class="article-container">
    <h2>{articleInfo.title}</h2>
    <p><strongt>생성 날짜:</strong> {articleInfo.creationDate.toString()} &nbsp;|&nbsp; <strong>작성자:</strong> {articleInfo.author} &nbsp;|&nbsp; <strong>조회수:</strong> {articleInfo.views}</p>
    <p> {articleInfo.content}</p>
</div>
